<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <span class="navbar-brand">INFO - Firstname Lastname</span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employees">Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/managers">Managers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/departments">Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employees/add">Add Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/images/add">Add Image</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/images">Images</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <h2>About</h2>
          <p>Diamond Finish Detailing is a young company, and their company motto and mission statement will be displayed here when page is produced</p>
          <p>We will also be adding more services to the web page, rather than it being solely detailing now</p>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
