<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <span class="navbar-brand">INFO-I Group 3</span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employees">Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/managers">Managers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/departments">Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employees/add">Add Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/images/add">Add Image</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/images">Images</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-4">
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
          <h2>Coming Soon</h2>
          <p>This will be the page that we use for our project. This the "bones" of our website that is soon to be!</p>
        </div>

        <!-- Right Column -->
       <div class="col-md-6">
          <h2>Welcome</h2>
          <p>Welcome to the future Diamond Finish Detailing webpage. Explore the navigation menu to view (filler) employees, managers, and departments.</p>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
